
    /* Estilos personalizados */
    header {
      background: black;
      color: white;
      padding: 20px 0;
    }

    .header-black {
        background: black;
        color: white;
        padding: 20px 0;
      }

    footer {
      background: black;
      color: white;
      padding: 10px 0;
    }

    footer a {
      color: #fff;
      text-decoration: none;
    }

    footer a:hover {
      text-decoration: underline;
    }

    body {
      background-color: #f8f9fa;
    }

    .btn-primary {
      background-color: #2575fc;
      border: none;
    }

    .btn-primary:hover {
      background-color: #6a11cb;
    }
  