{% extends 'public/layout.html' %}
{% block title %}Registrar Proyectos{% endblock %}

{% block agregarproyecto %}

    <section>
        <h4>Datos para proyecto nuevo</h4>
        <hr>
        <form class="row gy-2 gx-3 align-items-center form-agregar-proyecto">
            <div class="row">
                <div class="col col-lg-3">
                  <label for="autoSizingInput">Nombre</label>
                  <input type="text" class="form-control" id="autoSizingInput">
                </div>
                <div class="col col-lg-3">
                    <label for="autoSizingInputGroup">Ubicación</label>
                    <input type="text" class="form-control" id="autoSizingInputGroup">
                </div>
                <div class="col col-lg-3">
                  <label for="autoSizingSelect">Preference</label>
                  <select class="form-select" id="autoSizingSelect">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
          </form>

        <hr>
        <form action="" method="POST" class="mb-3" autocomplete="off" enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" class="form-control" required>
                </div>
                <div class="col">
                    <label for="procedencia">Procedencia</label>
                    <input type="text" name="procedencia" class="form-control" required>
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <label for="receta">Receta</label>
                    <textarea name="receta" class="form-control" required></textarea>
                </div>
            </div>
    
            <div class="row mt-4">
                <div class="col">
                    <label for="foto">Foto del Plato</label>
                    <input type="file" name="foto" class="form-control-file" accept="image/*" required>
                </div>
            </div>
            <hr>
    
            <input class="button-primary mt-3 btn btn-info btn-block bold" type="submit" value="Guardar Registro">
        </form>
    </section>

{% endblock %}