{% extends 'public/layout.html' %}
{% block title %}Registrar Proyectos{% endblock %}

{% block agregarproyecto %}

    <section>
        <h4>Datos para proyecto nuevo</h4>
        <hr>
        <form action="{{ url_for('agregarProyecto') }}" method="POST" class="row gy-2 gx-3 align-items-center m-2 p-5 border-2 bg-light border border-2 rounded-4 shadow">
            <div class="row">
                <div class="col col-lg-3">
                  <label for="nombre_proyecto">Nombre</label>
                  <input type="text" class="form-control border-success" id="nombre_proyecto" name="nombre_proyecto">
                </div>
                <div class="col col-lg-3">
                    <label for="ubicacion_proyecto">Ubicación</label>
                    <input type="text" class="form-control border-success" id="ubicacion_proyecto" name="ubicacion_proyecto">
                </div>
                <div class="col col-lg-3">
                  <label for="estado-proyecto">Estado de proyecto</label>
                  <select class="form-select border-success" id="estado_proyecto" name="estado_proyecto">
                    <option selected>Estado</option>
                    <option value="1">TERMINADO</option>
                    <option value="2">EN PROCESO</option>
                  </select>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-3">
                    <label for="fecha_inicio">Fecha de inicio</label>
                    <input type="date" class="form-control border-success" id="fecha_inicio" name="fecha_inicio">
                </div>
                <div class="col col-lg-3">
                    <label for="fecha_fin">Fecha de fin</label>
                    <input type="date" class="form-control border-success" id="fecha_fin" name="fecha_fin">
                </div>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-success">Registrar</button>
            </div>
          </form>

    </section>

{% endblock %}