{% extends 'public/layout.html' %}
{% block title %}Registrar Proyectos{% endblock %}

{% block listaproyectos %}

<section>
    
    <!-- {{ miData }} -->
    {% if (miData) %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover border border-2 bg-dark">
            <thead>
                <tr>
                    <th scope="col">PROYECTO</th>
                    <th scope="col">UBICACION</th>
                    <th scope="col">TAREA</th>
                    <th scope="col">FECHA DE INICIO</th>
                    <th scope="col">FECHA DE FINALIZACION</th>
                    <th scope="col">ESTADO DE TAREA</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in miData %}
                <tr id="Registro_{{ dato.id }}">
                    <td>{{ dato.proyecto }}</td>
                    <td>{{ dato.ubicacion }}</td>
                    <td>{{ dato.tarea }}</td>
                    <td>{{ dato.fecha_inicio }}</td>
                    <td>{{ dato.fecha_fin }}</td>
                    <td>{{ dato.estado_tarea }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="row mb-5">
        <div class="col-md-12">
            <h3 class="text-center">No hay Platos</h3>
        </div>
    </div>
    {% endif %}
</section>

{% endblock %}