{% extends 'public/layout.html' %}
{% block title %}Lista de tareas{% endblock %}


{% block listatareas %}


    <h1>Listado de tareas</h1>

    <!-- {{ miData }} -->
    {% if (miData) %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in miData %}
                <tr id="Registro_{{ dato.id }}">
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ dato.nombre }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="row mb-5">
        <div class="col-md-12">
            <h3 class="text-center">No hay Platos</h3>
        </div>
    </div>
    {% endif %}
{% endblock %}